.main-container {
    max-width: 90%;
}

.table-header-fix {
    position: sticky;
    top: 85px;
}
.navbar-fixed {
    position: sticky;
    top: 0;
}
.table-header-historial {
    position: sticky;
    top: 0;
}
